<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html>

  <head>
    <meta charset="UTF-8">
    <title>Fifa World cup</title>

    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet"
      href=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css ">
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
      </script>
  </head>

  <body>




    <section class="pt-5 pb-5">

      <div class="container my-5">

        <div
          class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1" >
              [[#{app.title}]]
            </h1>
            <hr>
            <h2 style="margin-top: 50px">[[#{word.stadium}]]  </h2>
            <h2 style="margin-top: 10px;display: block" th:text="${game.stadium}"></h2>
            <h3 th:text="${game.countries[0] +' VS ' + game.countries[1]}"></h3>
            <h3 >[[#{word.numberAvailableTickets}]] </h3>
            <h3 th:text="${game.availableTickets}"> </h3>
            <p  class="text-danger fw-bolder" style="margin: 10px 0px" th:text="${globalError}"></p>



            <hr>

            <form th:action="@{/proceed_ticket}" th:object="${new_ticket}"  method="POST">
              <input type="hidden"   th:value="${game.id}" name="game_id_ticket"/>
                <div class="form-group" style="margin-bottom: 10px" >
                  <label  style="margin-bottom: 5px" >[[#{form.email}]]</label>
                  <input type="email" class="form-control" placeholder="Enter email" name="email" th:field = "*{email}" >
                  <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger" style="margin: 10px 0px"></p>
                </div>
                <div class="form-group" style="margin-bottom: 10px" >
                  <label  style="margin-bottom: 5px">[[#{form.numberTickets}]]</label>
                  <input type="number" class="form-control" placeholder="Enter number of tickets" th:name="tickets"   >
                  <p th:if="${#fields.hasErrors('tickets')}" th:errors="*{tickets}" class="alert alert-danger" style="margin: 10px 0px"></p>
                </div>
                <div class="form-group" style="margin-bottom: 10px" >
                    <label style="margin-bottom: 5px">[[#{form.code1}]]</label>
                    <input type="number" class="form-control" th:name="code1" th:value="10" >
                    <p th:if="${#fields.hasErrors('code1')}" th:errors="*{code1}" class="alert alert-danger" style="margin: 10px 0px"> </p>
                  </div>
                  <div class="form-group" style="margin-bottom: 20px" >
                    <label style="margin-bottom: 5px">[[#{form.code2}]]</label>
                    <input type="number" class="form-control"  th:name="code2" th:value="20" >
                    <p th:if="${#fields.hasErrors('code2')}" th:errors="*{code2}" class="alert alert-danger" style="margin: 10px 0px"></p>
                  </div>


                <button type="submit"
                class="btn btn-outline-primary btn-lg px-4" style="margin-bottom: 10px" >[[#{form.buy}]]</button>
            </form>

            <form th:action="@{/logout}" th:formmethod="post" >
              <hr style="margin: 20px ;">
              <button type="submit"
                      class="btn btn-outline-warning btn-lg px-4" style="float: right" ><i class="fa fa-times" style="padding-right: 10px"></i>[[#{button.logout}]]</button>
            </form>


          </div>

        </div>

      </div>
    </section>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>
</html>